@font-face {
  font-family: "SEGA LOGO FONT";
  src: local("SEGA LOGO FONT") url("../containers/SEGA.TTF") format("TTF");
}

h1 {
  font-family: "SEGA LOGO FONT", Times, serif;
  font-weight: 200;
  color: #0ccac4;
}
